/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

 #navbarSupportedContent ul li #button{
    border-style: solid;
    border-color: #F5900D;
    color: #F5900D;
        
 } 

 #navbarSupportedContent ul li #button:hover{
        background-color: #F5900D;
        color: white;
 } 

#footer{
      border-top: #F5900D;
      border-style: solid;
}
#footer{
    background-color: #CCCCCC;
    color: black;
   }
   
   #hello{
      font-size:larger;
      font-weight: bolder;
    
   }

   #section{
      background-color: black;
      color: white;
      
   }
   
   .porthead{
      background-color: #CCCCCC;
      padding: 1em;
 }

 #discover{
   background-color: #CCCCCC;
   padding: 3em;
 }

 #discoverShadow:hover {
   box-shadow: 2px 2px 2px 2px #FFE8AA;
}

.apply{
   border-radius: 20px;
}

.apply:hover{
   color: #F5900D;
}

.open{
   color: gray;
   font-size: 15px;
   font-weight: bold;
}

.next{
   font-weight: bolder;
}