/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";


 #navbarSupportedContent ul li #button{
    border-style: solid;
    border-color: #F5900D;
    color: #F5900D;
        
 } 

 #navbarSupportedContent ul li #button:hover{
        background-color: #F5900D;
        color: white;
 } 

#footer{
      border-top: #F5900D;
      border-style: solid;
}
#footer{
    background-color: #CCCCCC;
    color: black;
   }
   
   #hello{
      font-size:larger;
      font-weight: bolder;
    
   }

   #section{
      background-color: black;
      color: white;
      
   }
   
   .porthead{
      background-color: #E9E9E9;
   }
   
   #location{
      background-color: #E9E9E9;
 }

 #discover{
   background-color: #CCCCCC;
   padding: 3em;
 }

 #discoverShadow:hover {
   box-shadow: 2px 2px 2px 2px #FFE8AA;
}

.apply{
   border-radius: 20px;
   color: black;
   text-decoration: none;
}

.apply:hover{
   text-decoration: none;
}

.apply:hover{
   color: #F5900D;
}

.open{
   color: gray;
   font-size: 15px;
   font-weight: bold;
}

.next{
   font-weight: bolder;
}

.dot{
   color: #F5900D;
   font-weight: bolder;
   font-size: 3em;
}

#pink{
   background-color:#EC8B0D;
   width: 200px; 
   height: 200px; 
   border-radius: 100%; 
   position: absolute; 
   top: 50%; 
   left: 50%; 
   transform: translate(-20%, -50%); 
   z-index: 2 ;
}

#colored{
   background-color:lightgray;
   width: 200px;
   height: 200px; 
   border-radius: 100%; 
   position: absolute; 
   top: 50%; 
   left: 50%; 
   transform: translate(-80%, -50%);
   z-Index: 1 
}

#scroll{
 background-color: #F5900D;
 color: white;
 border-radius: 10px;
 padding: 6px;
}

.rolling{
   font-size: 5em;
   font-weight: bolder;
   font-stretch: extra-expanded;
}

.rolling span{
      color: #EC8B0D;
}

#more{
   padding: 10px;
   font-weight: 700;
   color: white;
   background-color: #EC8B0D;
}

.jobDetails p i {
   color: #EC8B0D;
   margin-right: 3px;
}

#previous p i {
   background-color: #CCCCCC;
   border-radius: 100%;
   padding: 10px;
   margin-left: 2px;
   margin-right: 2px;
}

#butt{
   color: white;
   background-color: #F5900D;
   padding: 1em;
}